.navbar {

  .navbar-brand {
    img {
      width: 180px;
    }
  }

  .nav-item {
    font-size: 18px;
    font-weight: 600;
    padding: 0.5rem;
  }

}

#portal-header {
  font-size: 14px;
  height: 70px;
}

#portaltab-burger-menu {
  margin: 47px 0 0 0 !important;
  font-size: 26px;
}
